body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

.new-user-link {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

.new-user-link a {
    color: #007bff;
    text-decoration: none;
}

.new-user-link a:hover {
    color: #0069d9;
}

...
.new-user-link a:hover {
    color: #0069d9;
}

/* Add styles for the default credentials box */
.default-credentials {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.default-credentials p {
    margin: 0;
    margin-bottom: 5px;
}
