<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>$TAB_TITLE</title>
    <link rel="stylesheet" href="/components/navbar/navbar.css" type="text/css">
    <link rel="stylesheet" href="/components/css/style.css" type="text/css">
    $CSS_LINK
</head>
<body>
<header>
    <h1>Welcome to my website!</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/intro">Posts</a></li>
            <li><a href="/start">Intro Node</a></li>
            <li><a href="/endpoints">Endpoints API</a></li>
            <li><a href="/serving-files">Serving Files</a></li>
            <li><a href="/dynamic-post">Create Post</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>